@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Space+Grotesk:wght@400;500;600&display=swap");

html,
body {
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
